<form
  class="card"
  [formGroup] = "form"
  (ngSubmit)='onSubmit()'
>
  <div class="card-content">
    <span class="card-title">Enter your e-mail:</span>
    <div class="input-field">
      <input
        formControlName = "email"
        id="email"
        type="email"
      >
      <label for="email">Email:</label>
      <!--      <span-->
      <!--        class="helper-text red-text"-->
      <!--        *ngIf = "form.get('email')"-->
      <!--      >-->
      <!--        Error-->
      <!--      </span>-->
    </div>
  </div>

  <div class="card-action d-flex">
    <button
      type="submit"
      class="modal-action btn waves-effect"
    >Send reset link</button>
    <a routerLink="../login" class="forgot-pass">Back to login page</a>
    <!--      [disabled]="form.invalid || form.disabled"-->
  </div>
</form>

