<div class="page-title">
  <h4>
    <a routerLink="/overview" href="#">My TODOs</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{isNew ? 'Add ' : 'Edit '}} Todo
  </h4>
  <span>
            <button class="btn btn-small red waves-effect">
              <i class="material-icons">delete</i>
            </button>
          </span>
</div>

<div class="row">
  <p>Today is: <span> {{dateNow()}}</span></p>
  <p>Time is: <span> {{timeNow()}}</span></p>
  <form class="col s12 l6" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-field">
      <input
        formControlName="name"
        id="name"
        type="text"
      >
      <label for="name">Enter short name of ToDo</label>
    </div>

    <div class="input-field">
      <textarea id="textarea" class="materialize-textarea" style="resize: both!important; min-height: 7rem"></textarea>
      <label for="textarea">Enter full describe of ToDo</label>
    </div>


    <div class="input-field s12" style="display: flex; align-items: center;">
      <select
        style="display: block; margin-right: 10px">
        <option value="" selected>Select category or add new</option>
        <option
          *ngFor="let category of categories"
          value="{{category._id}}"
        >{{category.name}}</option>
      </select>
      <button
        class="waves-effect waves-light btn"
        routerLink="/categories/new"
      >
        <i class="material-icons" style="font-size: 1em;">add</i>

      </button>
    </div>

    <div>
      <input
        type="file"
        class="dn"
        (change)="onFileUpload($event)"
        #input>
      <button
        (click)="triggerClick()"
        type="button"
        class="waves-effect waves-light btn orange lighten-2 mb2"
      >
        <i class="material-icons left">backup</i>
        Upload image
      </button>
    </div>
    <div>
      <button
        class="waves-effect waves-light btn"
      >
        <i class="material-icons left">save</i>
        Save changes
      </button>
    </div>
  </form>
  <div class="col s12 l6 center">
    <img
      class="responsive-img h200"
      [src]="imagePreview"
      *ngIf="imagePreview"
    >
  </div>

  <div class="col s12 l4 center">
    <img
      class="responsive-img h200"
    >
  </div>
</div>


<!--<script>-->
<!--  document.addEventListener('DOMContentLoaded', function () {-->
<!--    var elems = document.querySelectorAll('select');-->
<!--    var instances = M.FormSelect.init(elems, options);-->
<!--  });-->

<!--  // Or with jQuery-->

<!--  $(document).ready(function () {-->
<!--    $('select').formSelect();-->
<!--  });-->
<!--</script>-->
